<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pma"
    android:allowBackup="false">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AddActivityActivity"
            android:label="Add activity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddMealTabsActivity"
            android:label="Add meal"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.MealDetailsActivity"
            android:label="Meal details"
            android:parentActivityName=".activities.DayPreviewTabsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DayPreviewTabsActivity"
            android:label="Daily preview"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddGroceryActivity"
            android:label="Add grocery"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".receivers.ActivityDetectionReceiver">
            <intent-filter>
                <action android:name="ACTIVITY_RECOGNITION_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.LocationUpdatesReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="LOCATION_UPDATES_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.InternetConnectivityReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_tObnN8gbKvHIUrhrz679nhP19DUqZ0o" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
</manifest>